/*
   Wednesday, March 27, 201311:36:58 AM
   User: 
   Server: SEHTSLAPTOPDEV1\INSTANCE1
   Database: permitrack_qa_02
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ENV_ASSET_TYPE ADD CONSTRAINT
	PK_ENV_ASSET_TYPE PRIMARY KEY CLUSTERED 
	(
	ASSET_ID,
	ASSET_TYPE_CD
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.ENV_ASSET_TYPE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT


--select Has_Perms_By_Name(N'dbo.ENV_ASSET_TYPE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ENV_ASSET_TYPE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ENV_ASSET_TYPE', 'Object', 'CONTROL') as Contr_Per 