
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE NONCLUSTERED INDEX IX_EC_PROJECT_PUBLIC_COMMENTS_CLIENT_OWNER_ID ON dbo.EC_PROJECT_PUBLIC_COMMENTS
	(
	CLIENT_OWNER_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IX_EC_PROJECT_PUBLIC_COMMENTS_EC_PROJECT_ID ON dbo.EC_PROJECT_PUBLIC_COMMENTS
	(
	PROJECT_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.EC_PROJECT_PUBLIC_COMMENTS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

