
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION



CREATE NONCLUSTERED INDEX IX_EC_PROJECT_TYPE_EC_END_POINT_TYPE ON dbo.EC_PROJECT_TYPE
	(
	END_POINT_TYPE_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.EC_PROJECT_TYPE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

