/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[Phone_Type_ID]
      ,[Contact_ID]
      ,[Phone_Number]
      ,[Default_Phone]
      ,[Phone_Type]
  FROM [sehtechdb].[dbo].[CAP_CONTACT_PHONE]



  -- I didn't make a script, just remove it