--SELECT     GOAL_ACTIVITY_FORM.ID, BMP.NAME, GOAL.NAME AS goalName, GOAL_ACTIVITY_FORM.NAME AS formName, GOAL_ACTIVITY.NAME AS Expr3, 
--                      CLIENT.SHORT_NAME, [PLAN].NAME AS Expr4, MCM.NAME AS Expr5
--FROM         GOAL INNER JOIN
--                      GOAL_ACTIVITY_FORM ON GOAL.GOAL_ACTIVITY_FORM_ID = GOAL_ACTIVITY_FORM.ID INNER JOIN
--                      BMP ON GOAL.BMP_ID = BMP.ID INNER JOIN
--                      GOAL_ACTIVITY ON GOAL.ID = GOAL_ACTIVITY.GOAL_ID INNER JOIN
--                      --GOAL_ACTIVITY_FORM_INSTANCE ON GOAL_ACTIVITY.ID = GOAL_ACTIVITY_FORM_INSTANCE.GOAL_ACTIVITY_ID INNER JOIN
--                      MCM ON BMP.MCM_ID = MCM.ID INNER JOIN
--                      [PLAN] ON MCM.PLAN_ID = [PLAN].ID INNER JOIN
--                      CLIENT ON [PLAN].CLIENT_ID = CLIENT.ID
--WHERE     (GOAL_ACTIVITY_FORM.ID = 4)

SELECT     count(GOAL_ACTIVITY_FORM.ID) as [count], GOAL_ACTIVITY_FORM.ID, GOAL_ACTIVITY_FORM.NAME, client.NAME --, client.STATUS_CD, [plan].STATUS_CD, MCM.STATUS_CD, bmp.STATUS_CD, goal.STATUS_CD, GOAL_ACTIVITY.STATUS_CD
FROM         GOAL INNER JOIN
                      GOAL_ACTIVITY_FORM ON GOAL.GOAL_ACTIVITY_FORM_ID = GOAL_ACTIVITY_FORM.ID INNER JOIN
                      BMP ON GOAL.BMP_ID = BMP.ID INNER JOIN
                      GOAL_ACTIVITY ON GOAL.ID = GOAL_ACTIVITY.GOAL_ID INNER JOIN
                      --GOAL_ACTIVITY_FORM_INSTANCE ON GOAL_ACTIVITY.ID = GOAL_ACTIVITY_FORM_INSTANCE.GOAL_ACTIVITY_ID INNER JOIN
                      MCM ON BMP.MCM_ID = MCM.ID INNER JOIN
                      [PLAN] ON MCM.PLAN_ID = [PLAN].ID INNER JOIN
                      CLIENT ON [PLAN].CLIENT_ID = CLIENT.ID
            WHERE
            client.STATUS_CD = 1 
            AND [plan].STATUS_CD = 1 
            AND MCM.STATUS_CD = 1 
            AND bmp.STATUS_CD = 1 
            AND goal.STATUS_CD = 1 
            AND GOAL_ACTIVITY.STATUS_CD = 1
GROUP BY     GOAL_ACTIVITY_FORM.ID, GOAL_ACTIVITY_FORM.NAME, client.name --, client.STATUS_CD, [plan].STATUS_CD, MCM.STATUS_CD, bmp.STATUS_CD, goal.STATUS_CD, GOAL_ACTIVITY.STATUS_CD
ORDER BY	GOAL_ACTIVITY_FORM.ID