/****** Script for SelectTopNRows command from SSMS  ******/
SELECT     TOP 1000 PERMIT_TIME_PERIOD.ID AS Expr3, PERMIT_TIME_PERIOD.PERMIT_PERIOD_ID, PERMIT_TIME_PERIOD.NAME AS Expr4, 
                      PERMIT_TIME_PERIOD.START_DATE AS Expr5, PERMIT_TIME_PERIOD.END_DATE AS Expr6, PERMIT_TIME_PERIOD.CREATE_TS AS Expr7, 
                      PERMIT_TIME_PERIOD.UPDATE_TS AS Expr8, PERMIT_TIME_PERIOD.UPDATE_USER_ID AS Expr9, GOAL.*
FROM         GOAL_PERMIT_TIME_PERIOD LEFT JOIN
                      GOAL ON GOAL_PERMIT_TIME_PERIOD.GOAL_ID = GOAL.ID LEFT JOIN
                      PERMIT_TIME_PERIOD ON GOAL_PERMIT_TIME_PERIOD.PERMIT_TIME_PERIOD_ID = PERMIT_TIME_PERIOD.ID
WHERE     (GOAL_PERMIT_TIME_PERIOD.ID = 150)