.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.subtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.bodytitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.navtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.blktitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.blksubtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.blkbodytitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.blknavtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.whttitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.whtsubtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.whtbodytitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.whtnavtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.gldtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: #dd7500;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.gldsubtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #dd7500;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.gldbodytitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #dd7500;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.gldnavtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #dd7500;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.pctitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.pcfield
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.pcresults
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.pcbody
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.pcfineprint
{
    FONT-SIZE: 6pt;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.body
{
    FONT-SIZE: 10pt;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.body A:active
{
    COLOR: #dd7500;
    TEXT-DECORATION: underline
}

.body A:link
{
    COLOR: #004454;
    TEXT-DECORATION: underline
}

.body A:visited
{
    COLOR: #004454;
    TEXT-DECORATION: underline
}

.body A:hover
{
    COLOR: #dd7500;
    TEXT-DECORATION: underline
}

.table
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.table A:active
{
    COLOR: #dd7500;
    TEXT-DECORATION: underline
}

.table A:link
{
    COLOR: #003366;
    TEXT-DECORATION: underline
}

.table A:visited
{
    COLOR: #003366;
    TEXT-DECORATION: underline
}

.table A:hover
{
    COLOR: #dd7500;
    TEXT-DECORATION: underline
}

.nodecor
{
    FONT-SIZE: 8pt;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}

.tablebold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.nav
{
    FONT-SIZE: 8pt;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.nav A:active
{
    FONT-SIZE: 8pt;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}

.nav A:link
{
    FONT-SIZE: 8pt;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}

.nav A:visited
{
    FONT-SIZE: 8pt;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}

.nav A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #CC9966;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}

.header
{
    FONT-SIZE: 8pt;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.header A:active
{
    COLOR: #dd7500;
    FONT-STYLE: normal;
    TEXT-DECORATION: none
}

.header A:link
{
    COLOR: #003366;
    FONT-STYLE: normal;
    TEXT-DECORATION: none
}

.header A:visited
{
    COLOR: #003366;
    FONT-STYLE: normal;
    TEXT-DECORATION: none
}

.header A:hover
{
    COLOR: #dd7500;
    FONT-STYLE: normal;
    TEXT-DECORATION: underline
}

.footer
{
    FONT-SIZE: 8pt;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.footer A:active
{
    COLOR: #dd7500;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}

.footer A:link
{
    COLOR: #004454;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}

.footer A:visited
{
    COLOR: #004454;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}

.footer A:hover
{
    COLOR: #dd7500;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}

.help
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.help A:active
{
    FONT-SIZE: 8pt;
    COLOR: #dd7500;
    TEXT-DECORATION: underline
}

.help A:link
{
    FONT-SIZE: 8pt;
    COLOR: #003366;
    TEXT-DECORATION: underline
}

.help A:visited
{
    FONT-SIZE: 8pt;
    COLOR: #003366;
    TEXT-DECORATION: underline
}

.help A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #dd7500;
    TEXT-DECORATION: underline
}

INPUT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #0b4657;
    FONT-FAMILY: "Tahoma", "Verdana", "Arial", "Helvetica", sans-serif
}

SELECT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #0b4657;
    FONT-FAMILY: "Tahoma", "Verdana", "Arial", "Helvetica", sans-serif
}

UL
{
    LIST-STYLE-IMAGE: url(images/312125.gif)
}

P
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: verdana
}
