INSERT INTO [LOOKUP_ENV_SUBSTANCE_TYPE] ([CODE]
      ,[DESCRIPTION]
      ,[CLIENT_ID]
      ,[ORDER_NUM])
  VALUES (11, 'CO2', 0, 11)
  
INSERT INTO [LOOKUP_ENV_SUBSTANCE_TYPE] ([CODE]
      ,[DESCRIPTION]
      ,[CLIENT_ID]
      ,[ORDER_NUM])
  VALUES (12, 'CH4', 0, 12)
  
INSERT INTO [LOOKUP_ENV_SUBSTANCE_TYPE] ([CODE]
      ,[DESCRIPTION]
      ,[CLIENT_ID]
      ,[ORDER_NUM])
  VALUES (13, 'N2O', 0, 13)
  
  
  SELECT * FROM [LOOKUP_ENV_SUBSTANCE_TYPE]