  
INSERT INTO [ENV_UNIT_OF_MEASURE_MAP]
      ([CLIENT_ID]
      ,[TABLE_NAME]
      ,[COLUMN_NAME]
      ,[UM_CD])
  VALUES (0, 'ENV_SOURCE_SUBSTANCE', 'NG_EF_UNIT', 13)
  
  
  
  SELECT [ID]
      ,[CLIENT_ID]
      ,[TABLE_NAME]
      ,[COLUMN_NAME]
      ,[UM_CD]
  FROM [ENV_UNIT_OF_MEASURE_MAP]
