/*
   Wednesday, January 23, 20132:23:08 PM
   User: sa
   Server: PORTALLT01\INSTANCE1
   Database: cap2
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.GOAL_ACTIVITY_FORM_INSTANCE ADD CONSTRAINT
	PK_GOAL_ACTIVITY_FORM_INSTANCE PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.GOAL_ACTIVITY_FORM_INSTANCE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.GOAL_ACTIVITY_FORM_INSTANCE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.GOAL_ACTIVITY_FORM_INSTANCE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.GOAL_ACTIVITY_FORM_INSTANCE', 'Object', 'CONTROL') as Contr_Per 