/*
   Tuesday, January 08, 20133:14:11 PM
   User: 
   Server: OWNER-PC\INSTANCE1
   Database: cap2
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.CAP_SECURE_OBJECT SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CAP_SECURE_OBJECT', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CAP_SECURE_OBJECT', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CAP_SECURE_OBJECT', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.EC_CLIENT_RELATIONSHIP_PERMISSION ADD CONSTRAINT
	FK_EC_CLIENT_RELATIONSHIP_PERMISSION_CAP_SECURE_OBJECT FOREIGN KEY
	(
	CAP_SECURE_OBJECT_ID
	) REFERENCES dbo.CAP_SECURE_OBJECT
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.EC_CLIENT_RELATIONSHIP_PERMISSION SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.EC_CLIENT_RELATIONSHIP_PERMISSION', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.EC_CLIENT_RELATIONSHIP_PERMISSION', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.EC_CLIENT_RELATIONSHIP_PERMISSION', 'Object', 'CONTROL') as Contr_Per 