/*
   Tuesday, January 08, 201312:34:50 PM
   User: 
   Server: OWNER-PC\INSTANCE1
   Database: cap2
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.EC_CLIENT_RELATIONSHIP_TYPE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.EC_CLIENT_RELATIONSHIP_TYPE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.EC_CLIENT_RELATIONSHIP_TYPE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.EC_CLIENT_RELATIONSHIP_TYPE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.EC_CLIENT_RELATIONSHIP_PERMISSION ADD CONSTRAINT
	FK_EC_CLIENT_RELATIONSHIP_PERMISSION_EC_CLIENT_RELATIONSHIP_TYPE FOREIGN KEY
	(
	EC_CLIENT_RELATIONSHIP_TYPE_ID
	) REFERENCES dbo.EC_CLIENT_RELATIONSHIP_TYPE
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.EC_CLIENT_RELATIONSHIP_PERMISSION SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.EC_CLIENT_RELATIONSHIP_PERMISSION', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.EC_CLIENT_RELATIONSHIP_PERMISSION', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.EC_CLIENT_RELATIONSHIP_PERMISSION', 'Object', 'CONTROL') as Contr_Per 