<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="sehsvc">
    <display-name>PermiTrack</display-name>
    <description>Permit and Inspection Tracking and Reporting powered by Sagefire</description>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
            classpath:com/sehinc/common/service/spring/serviceContext.xml
            classpath:com/sehinc/erosioncontrol/service/erosioncontrolServiceContext.xml
        </param-value>
    </context-param>
    <filter>
        <!-- http://tuckey.org/urlrewrite/ -->
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>TRACE</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CookieFilter</filter-name>
        <filter-class>
            com.sehinc.portal.filter.CookieFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CookieFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sehinc.common.util.HibernateListener</listener-class>
    </listener>
    <servlet>
        <!--
        id="com.sehinc.common.portal"
        Above id needed on "servlet"? Doesn't appear so...
        -->
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/struts-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/sec</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/sec/struts-config.xml,
                /WEB-INF/html/sec/struts-client-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/sec/client</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/sec/struts-config.xml,
                /WEB-INF/html/sec/struts-client-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/sec/user</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/sec/struts-config.xml,
                /WEB-INF/html/sec/struts-user-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/sec/role</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/sec/struts-config.xml,
                /WEB-INF/html/sec/struts-role-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/sec/contact</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/sec/struts-config.xml,
                /WEB-INF/html/sec/struts-contact-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/sec/report</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/sec/struts-config.xml,
                /WEB-INF/html/sec/struts-report-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/ms4</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/ms4/struts-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/ms4/admin</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/ms4/struts-config.xml,
                /WEB-INF/html/ms4/struts-admin-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/ms4/plan</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/ms4/struts-config.xml,
                /WEB-INF/html/ms4/struts-plan-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/ms4/bmpdb</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/ms4/struts-config.xml,
                /WEB-INF/html/ms4/struts-bmpdb-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/ms4/permitperiod</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/ms4/struts-config.xml,
                /WEB-INF/html/ms4/struts-permitperiod-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/ms4/report</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/ms4/struts-config.xml,
                /WEB-INF/html/ms4/struts-report-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/ms4/template</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/ms4/struts-config.xml,
                /WEB-INF/html/ms4/struts-template-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/esc</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/esc/struts-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/esc/admin</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/esc/struts-config.xml,
                /WEB-INF/html/esc/struts-admin-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/esc/event</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/esc/struts-config.xml,
                /WEB-INF/html/esc/struts-event-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/esc/project</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/esc/struts-config.xml,
                /WEB-INF/html/esc/struts-project-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/esc/correctiveaction</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/esc/struts-config.xml,
                /WEB-INF/html/esc/struts-correctiveaction-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/esc/gis</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/esc/struts-config.xml,
                /WEB-INF/html/esc/struts-gis-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/esc/inspection</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/esc/struts-config.xml,
                /WEB-INF/html/esc/struts-inspection-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/esc/report</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/esc/struts-config.xml,
                /WEB-INF/html/esc/struts-report-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/esc/bmp</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/esc/struts-config.xml,
                /WEB-INF/html/esc/struts-bmp-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/esc/bmpdb</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/esc/struts-config.xml,
                /WEB-INF/html/esc/struts-bmpdb-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/esc/partner</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/esc/struts-config.xml,
                /WEB-INF/html/esc/struts-partner-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/dvo</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/dvo/struts-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/env</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/env/struts-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/env/permit</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/env/struts-config.xml,
                /WEB-INF/html/env/struts-permit-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/env/substance</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/env/struts-config.xml,
                /WEB-INF/html/env/struts-substance-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/env/source</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/env/struts-config.xml,
                /WEB-INF/html/env/struts-source-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/env/admin</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/env/struts-config.xml,
                /WEB-INF/html/env/struts-admin-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/env/asset</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/env/struts-config.xml,
                /WEB-INF/html/env/struts-asset-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/env/process</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/env/struts-config.xml,
                /WEB-INF/html/env/struts-process-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/env/facility</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/env/struts-config.xml,
                /WEB-INF/html/env/struts-facility-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/env/sourceusage</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/env/struts-config.xml,
                /WEB-INF/html/env/struts-sourceusage-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/env/scc</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/env/struts-config.xml,
                /WEB-INF/html/env/struts-scc-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/env/scclibrary</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/env/struts-config.xml,
                /WEB-INF/html/env/struts-scc-library-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>config/html/env/report</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/html/env/struts-config.xml,
                /WEB-INF/html/env/struts-report-config.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ErosionControlPublicReportServlet</servlet-name>
        <servlet-class>com.sehinc.service.servlet.erosioncontrol.PublicReportServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>message</servlet-name>
        <servlet-class>com.sehinc.common.service.message.MessageServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>statusServlet</servlet-name>
        <servlet-class>com.sehinc.service.servlet.util.StatusServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>downloadServlet</servlet-name>
        <servlet-class>com.sehinc.service.servlet.util.FileDownloadServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>publicDownloadServlet</servlet-name>
        <servlet-class>com.sehinc.service.servlet.util.PublicFileDownloadServlet</servlet-class>
        <load-on-startup>6</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.sehinc.service.servlet.util.ImageServlet</servlet-class>
        <load-on-startup>7</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.sehinc.service.servlet.util.ForgotPasswordServlet</servlet-class>
        <load-on-startup>8</load-on-startup>
    </servlet>
    <servlet id="DataService">
        <servlet-name>DataService</servlet-name>
        <display-name>DataService Servlet</display-name>
        <servlet-class>com.sehinc.dataview.DataService</servlet-class>
        <load-on-startup>9</load-on-startup>
    </servlet>
    <servlet id="CookieLogin">
        <servlet-name>CookieLogin</servlet-name>
        <display-name>CookieLogin Servlet</display-name>
        <servlet-class>com.sehinc.dataview.servlet.CookieLogin</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet id="MailingLabels">
        <servlet-name>MailingLabels</servlet-name>
        <display-name>MailingLabel Servlet</display-name>
        <servlet-class>com.sehinc.dataview.servlet.MailingLabelServlet</servlet-class>
        <load-on-startup>11</load-on-startup>
    </servlet>
    <servlet id="Download">
        <servlet-name>Download</servlet-name>
        <display-name>Download Servlet</display-name>
        <servlet-class>com.sehinc.dataview.servlet.FileDownloadServlet</servlet-class>
        <load-on-startup>12</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>loginOpenIdServlet</servlet-name>
        <servlet-class>com.sehinc.service.servlet.util.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompressServlet</servlet-name>
        <servlet-class>com.granule.CompressServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErosionControlPublicReportServlet</servlet-name>
        <url-pattern>/ec_report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>publicDownloadServlet</servlet-name>
        <url-pattern>/public</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/password</url-pattern>
    </servlet-mapping>
    <servlet-mapping id="CookieLoginMapping">
        <servlet-name>CookieLogin</servlet-name>
        <url-pattern>/dvologin</url-pattern>
    </servlet-mapping>
    <servlet-mapping id="DataServiceMapping">
        <servlet-name>DataService</servlet-name>
        <url-pattern>/dvodata</url-pattern>
    </servlet-mapping>
    <servlet-mapping id="DownloadMapping">
        <servlet-name>Download</servlet-name>
        <url-pattern>/dvodownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping id="MailingLabelMapping">
        <servlet-name>MailingLabels</servlet-name>
        <url-pattern>/dvomailing</url-pattern>
    </servlet-mapping>
    <servlet-mapping id="loginOpenIdServletMapping">
        <servlet-name>loginOpenIdServlet</servlet-name>
        <url-pattern>/id</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompressServlet</servlet-name>
        <url-pattern>/combined.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompressServlet</servlet-name>
        <url-pattern>/combined.css</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>360</session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error.do</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.do</location>
    </error-page>
    <taglib>
        <taglib-uri>/WEB-INF/tld/struts-bean.tld</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/tld/struts-html.tld</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/tld/struts-logic.tld</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/tld/struts-tiles.tld</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/tld/struts-nested.tld</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
    </taglib>
    <resource-ref>
        <description>PermiTrack Data Source</description>
        <res-ref-name>jdbc/CAPDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
