ALTER TABLE CLIENT_ADMIN_SETTINGS
ADD SECOND_INSP_OVERDUE_NOTIF_ENABLED bit, 
INSP_CERTIF_ENABLED bit,
INSP_CERTIF_MSG [varchar] (2500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL



update client_admin_settings
set SECOND_INSP_OVERDUE_NOTIF_ENABLED = INSP_OVERDUE_NOTIF_ENABLED,
INSP_CERTIF_ENABLED = 0