if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ENV_UNIT_OF_MEASURE_MAP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[ENV_UNIT_OF_MEASURE_MAP]
GO

CREATE TABLE [dbo].[ENV_UNIT_OF_MEASURE_MAP] (
	[ID] [int] IDENTITY (1, 1) NOT NULL ,
	[CLIENT_ID] [int] NOT NULL ,
	[TABLE_NAME] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[COLUMN_NAME] [char] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[UM_CD] [int] NOT NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ENV_UNIT_OF_MEASURE_MAP] WITH NOCHECK ADD 
	CONSTRAINT [PK_ENV_UNIT_OF_MEASURE_MAP] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ENV_UNIT_OF_MEASURE_MAP] ADD 
	CONSTRAINT [FK_ENV_UNIT_OF_MEASURE_MAP_LOOKUP_ENV_UNIT_OF_MEASURE] FOREIGN KEY 
	(
		[UM_CD]
	) REFERENCES [dbo].[LOOKUP_ENV_UNIT_OF_MEASURE] (
		[CODE]
	)
GO

